<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933953379260-gujk0lsqv2etdu2iojfccktar7pak9jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933953379260-gujk0lsqv2etdu2iojfccktar7pak9jq</string>
	<key>API_KEY</key>
	<string>AIzaSyDCQwynnV1Gev15yKN2Q9HLzVvnegBl6Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>933953379260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.dartmouth.cs.satch</string>
	<key>PROJECT_ID</key>
	<string>app-23421</string>
	<key>STORAGE_BUCKET</key>
	<string>app-23421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933953379260:ios:5dff5387c0eec1843269b9</string>
</dict>
</plist>